<!doctype html>
<html lang="en-US">
  <head>
    <title></title>
    <link rel="stylesheet" href="../stylesheets/meyer_reset.css" type="text/css">
    <link rel="stylesheet" href="../stylesheets/intro.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <script src="file:///Users/taylorpeat/workspace/personal_site/personal_site/javascripts/intro.js"></script>
    <meta charset="UTF-8" />
  </head>
  <body>
    <header class="clearfix">
      <div class="title">
        <h1>I'M <span>TAYLOR PEAT</span></h1>
        <h2>FULL STACK DEVELOPER</h2>
      </div>
      <nav>
        <ul>
          <li class="selected">
            <a>Intro</a>
          </li><li>
            <a>Trello</a>
          </li><li>
            <a>Resume</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="info clearfix">
      <h3>A professional structural engineer turned software developer who traded in my hard hat for a MacBook.</h3>
      <p>
        I have experience in Ruby on Rails, HTML, CSS, Javascript, Backbone.js and SQL (PostgreSQL). I love to challenge myself with new projects and technologies and create things that will make an impact in the world.
      </p>
      <section class="about-left">
        <h4>THINGS I LOVE</h4>
        <p>
          I spend my time playing hockey, canoe trips and summers in Muskoka. I have been the commissioner of a touch football league at Moss Park and try to pay it forward with volunteer work in the city.
        </p>
        <p>
          At the office I enjoy the occasional extracurricular like captaining the company softball team, helping organize board game nights or writing a fabricated company newsletter for HR to send out on April Fools.
        </p>
        <h4>FROM BUILDINGS TO BROWSERS</h4>
        <p>
          I have always been drawn to coding, from building our school website in elementary school to programming classes in high school and university. So when I decided to move on from designing high rise towers (Aura at College Park) and retrofitting major structures (ACC, First Canadian Place, BCE Place, etc.) programming was the natural path. I have enjoyed digging into the foundations of object oriented programming in Ruby and Javascript and test driven development in Ruby on Rails.
        </p>
      </section>
      <section class="about-right">
        <h4>ABOUT YOU</h4>
        <p>
          You write code that has an immediate impact on people. You have a point-of-sale financing solution you are passionate about and improves the customer experience. The way you describe your work environment, peer code reviews, continuous integration and cutting edge frameworks, makes it sound exactly like the kind of place an engineer could grow and thrive.
        </p>
        <h4>YOU NEED THE BEST</h4>
        <p>
          You are looking for someone who can write clean code and knows how to work with deadlines. Someone who can coordinate with other team members and understand project requirements. You also want someone who can fit in with the team and hit the ground running.
        </p>
        <h4>I'M THAT GUY</h4>
        <p>
          I have a strong grasp of Ruby and Javascript fundamentals along with Rails and Backbone.js. I have been solving engineering problems my whole career, gathering and understanding project requirements, managing deadlines and collaborating with other teams. I know what it means to work together to make something great and I look forward to making Financeit better by my addition.
        </p>
      </section>
    </div>
    <section class="projects">
      <h1>PROJECT EXAMPLES</h1>
      <div class="projects-container">
      </div>
    </section>
  </body>