<!doctype html>
<html lang="en-US">
  <head>
    <title></title>
    <link rel="stylesheet" href="../stylesheets/meyer_reset.css" type="text/css">
    <link rel="stylesheet" href="../stylesheets/intro.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,800" rel="stylesheet">
    <script src="file:///Users/taylorpeat/workspace/personal_site/personal_site/javascripts/intro.js"></script>
    <meta charset="UTF-8" />
  </head>
  <body>
    <header class="clearfix">
      <div class="title">
        <h1>I'M <span>TAYLOR PEAT</span></h1>
        <h2>FULL STACK DEVELOPER</h2>
      </div>
      <nav>
        <ul>
          <li class="selected">
            <a>Intro</a>
          </li><li>
            <a>Trello</a>
          </li><li>
            <a>GitHub</a>
          </li><li>
            <a href="resume.html">Resume</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="info clearfix">
      <h3>Professional structural engineer turned software developer.</h3> 
      <p>
        I have experience in Ruby on Rails, HTML, CSS, Javascript, Backbone.js and SQL (PostgreSQL). After researching your company I was convinced I wanted to join your team because:
      </p>
      <section class="trifold clearfix">
        <div>
          <h4>You Write Code That Matters</h4>
          <i class="icon protractor"></i>
          <p>
            You write code that has an immediate impact on people. You have a point-of-sale financing solution you are passionate about and customers want. 
          </p>
        </div>
        <div>
          <h4>You Understand Us</h4>
          <i class="icon star"></i>
          <p>
            The way you describe your work environment, peer code reviews, continuous integration and cutting edge frameworks, makes it sound exactly like the kind of place an engineer could grow and thrive.
          </p>
        </div>
        <div>
          <h4>You're Unconventional</h4>
          <i class="icon light-bulb"></i>
          <p>
            You are succeeding where traditional lenders won't go and are led by a management group who successfully pivoted from CommunityLend to Financeit.
          </p>
        </div>
      </section>
      <section class="me">
        <div class="about">
          <h4>About Me</h4>
          <p>
            I have always been drawn to coding, from programming classes in university and high school to building my elementary school's website. When I decided to make a pivot from structural engineering, coding was the natural choice.
          </p>
          <p>
            I have been solving engineering problems my whole career, gathering and understanding project requirements, managing deadlines and collaborating with other teams. I know what it means to work together to make something great and I look forward to making Financeit better by my addition.
          </p>
        </div>
        <div class="about-more">
          <h4>Want to Know More?</h4>  
          <p>
            Sure, I'll tell you a bit more. I'm also a hockey player, Moss Park football league commissioner, office softball team captain, board game night organizer, April Fools prankster and volunteer around the city. More importantly, I'm highly rated by The Human Evaluator.
          </p>
        </div>
      </section>
    </div>
    <section class="projects">
      <h1>Projects</h1>
      <div class="projects-container">
        <figure class="myflix">
          <div class="overlay"></div>
          <h3>Myflix</h3>
          <img src="../images/myflix.png">
          <div class="details-two">
            <ul class="clearfix">
              <li>
                <a>Live Demo</a>
              </li>
              <li>
                <a>GitHub</a>
              </li>
            </ul>
            <ul>
              <li>Ruby on Rails</li>
              <li>TDD</li>
              <li>RSpec</li>
              <li>Capybara</li>
              <li>Sidekiq</li>
              <li>Redis</li>
              <li>AWS</li>
            </ul>
            <h3>Myflix</h3>
          </div>
        </figure><figure class="trello">
          <div class="overlay"></div>
          <h3>Trello</h3>
          <img src="../images/trello.png">
          <div class="details">
            <ul>
              <li>Javascript</li>
              <li>Backbone.js</li>
              <li>Grunt</li>
              <li>Stylus</li>
              <li>Handlebars</li>
            </ul>
            <ul class="clearfix">
              <li>
                <a>Live Demo</a>
              </li>
              <li>
                <a>GitHub</a>
              </li>
            </ul>
            <h3>Trello</h3>
        </figure>
      </div>
      <div class="projects-container">
        <figure class="yelp">
          <div class="overlay"></div>
          <h3>Yelp</h3>
          <img src="../images/yelp.png">
          <div class="details">
            <ul>
              <li>Ruby on Rails</li>
              <li>TDD</li>
              <li>RSpec</li>
              <li>Capybara</li>
            </ul>
            <ul class="clearfix">
              <li>
                <a>Live Demo</a>
              </li>
              <li>
                <a>GitHub</a>
              </li>
            </ul>
            <h3>Yelp</h3>
        </figure><figure class="todo">
          <div class="overlay"></div>
          <h3>Backbone Todo</h3>
          <img src="../images/todo.png">
          <div class="details">
            <ul>
              <li>Javascript</li>
              <li>Backbone.js</li>
              <li>Grunt</li>
              <li>Handlebars</li>
            </ul>
            <ul class="clearfix">
              <li>
                <a>Live Demo</a>
              </li>
              <li>
                <a>GitHub</a>
              </li>
            </ul>
            <h3>Todo</h3>
        </figure><figure class="postit">
          <div class="overlay"></div>
          <h3>Postit</h3>
          <img src="../images/postit.png">
          <div class="details">
            <ul>
              <li>Ruby on Rails</li>
            </ul>
            <ul class="clearfix">
              <li>
                <a>Live Demo</a>
              </li>
              <li>
                <a>GitHub</a>
              </li>
            </ul>
            <h3>Postit</h3>
        </figure>
      </div>
    </section>
    <section class="contact">
      <ul>
        <li>©2018 Taylor Peat
        </li><li>
          647.997.7328
        </li><li>
          taylorpeat@gmail.com
        </li><li>
          <a>GitHub</a>
        </li>
      </ul>
    </section>
  </body>