<!doctype html>
<html lang="en-US">
  <head>
    <title></title>
    <link rel="stylesheet" href="../stylesheets/meyer_reset.css" type="text/css">
    <link rel="stylesheet" href="../stylesheets/intro.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,800" rel="stylesheet">
    <script src="file:///Users/taylorpeat/workspace/personal_site/personal_site/javascripts/intro.js"></script>
    <meta charset="UTF-8" />
  </head>
  <body>
    <header class="clearfix">
      <div class="title">
        <h1>RESUME / <span>TAYLOR PEAT<span></h1>
        <h2>FULL STACK DEVELOPER</h2>
      </div>
      <nav>
        <ul>
          <li>
            <a href="intro.html">Intro</a>
          </li><li>
            <a>Trello</a>
          </li><li>
            <a>GitHub</a>
          </li><li class="selected">
            <a>Resume</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <ul class="resume-contact clearfix">
        <li>647.997.7328
        </li><li class="separator">
          /
        </li><li>
          taylorpeat@gmail.com
        </li><li class="separator">
          /
        </li><li>
          GitHub
        </li>
      </ul>
      <h3>Technical Skills</h3>
      <p>Ruby, Javascript, Ruby on Rails, Backbone.js, HTML, CSS, SQL</p>
      <h3>Sample Projects</h3>
      <div class="project-example clearfix">
        <a>Trello:</a>
        <p>Replicated look and functionality of Trello site using Backbone.js. <a>Live Demo</a></p>
      </div>
      <div class="project-example clearfix">
        <a>Myflix:</a>
        <p>Video website built with TDD. Includes integration with Stripe, Mailgun, Sidekiq, CarrierWave and Amazon S3. <a>Live Demo</a></p>
      </div>
      <h3>Work Experience</h3>
      <h4>Intermediate Designer / Engineering Link <i>-</i><i>Toronto</i> <span>2013 - 2015</span></h4>
      <ul>
        <li>Managed structural assessments, design or contract administration on over 100 projects with structural consulting fees ranging from $500 to over $30,000.</li>
        <li>Worked on a wide range of structures including high rise buildings, industrial facilities and residential projects.</li>
      </ul>
      <h4>Junior Designer / Halcrow Yolles, A CH2M HILL Company <i>-</i><i>Toronto</i> <span>2009 - 2013</span></h4>
      <ul>
        <li>Worked on retrofit projects on major Toronto structures (Air Canada Centre, BCE Place, First Canadian Place, The Ritz-Carlton, etc.) and the design of new high rise towers such as Aura at College Park.
        <li>Delivered projects on short timelines, within budget, while maintaining client relationships.</li>
        <li>Provided structural design services on over 350 projects.</li>
      </ul>
      <h4>Junior Designer / Halcrow Yolles  <i>-</i><i>Cayman Islands</i> <span>2008</span></h4>
      <ul>
        <li>Construction administration for commercial buildings and design of residential houses.
        </li>
      </ul>
      <h3>Education/Awards</h3>
      <ul>
        <li>
          B.SC Civil Engineering, Honours, Queen's University
        </li>
        <li>
          Halsall Award (2007), Deans List (2004-2007), Queen Elizabeth II Aiming for the Top Scholarship (2004-2007)
        </li>
      </ul>
      <h3>Volunteer Experience</h3>
      <h4>Philip Aziz Centre, Community Based Home Hospice <span>2009 - 2017</span></h4>
      <ul>
        <li>Visited with clients weekly to provide companionship and relief for the primary care giver.</li>
        <li>June Callwood Circle of Outstanding Volunteers (2013)</li>
      </ul>
    </main>
    <section class="contact">
      <ul>
        <li>©2018 Taylor Peat
        </li><li>
          647.997.7328
        </li><li>
          taylorpeat@gmail.com
        </li><li>
          <a>GitHub</a>
        </li>
      </ul>
    </section>
  </body>
</html>