@font-face {
  font-family: "linea-basic-10";
  src: url("../fonts/linea-basic-10.ttf");
}

@font-face {
  font-family: "linea-basic-elaboration-10";
  src: url("../fonts/linea-basic-elaboration-10.ttf");
}
body {
  font-family: 'Montserrat';
  font-size: 16px;
  min-width: 900px;
  background-color: #161616;
}

header {
  padding: 20px 30px 30px 30px;
  font-weight: 800;
  background-color: #fff;
}

.title {
  float: left;
}
.title h1 {
  font-size: 48px;
  padding-bottom: 8px;
  color: #333;
}
.title h1 span {
  color: #45c2bd;
}
.title h2 {
  font-size: 22px;
  font-weight: 400;
}

nav {
  float: right;
  font-size: 22px;
  padding: 4px 8px 0 0 ;
}
nav ul li {
  display: inline-block;
  padding: 0 10px 2px;
  color: #45c2bd;
  transition: all 0.2s;
}
nav li.selected {
  color: #333;
}
nav ul:hover li {
  color: #45c2bd;
  transition: all 0.2s;
}
nav ul li:hover {
  color: #333;
  cursor: pointer;
  transition: all 0.2s;
}

.info {
  color: #fff;
  letter-spacing: 0.75px;
  padding: 40px;
  line-height: 1.6em;
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

.info h3 {
  font-size: 28px;
  font-weight: 800;
  padding: 0 0 10px;
  width: 800px;
  line-height: 1.3em;
}

.info h4 {
  padding: 16px 0;
  font-weight: 800;
  font-size: 16px;
}
.about-left,
.about-right {
  width: 50%;
  padding-top: 20px;
  box-sizing: border-box;
}
.about-left {
  float: left;
  padding-right: 15px;
}
.about-right {
  padding-left: 15px;
  float: right;
}
.trifold {
  padding: 60px 20px 40px 20px;
}
.trifold div {
  width: 33%;
  float: left;
  box-sizing: border-box;
  text-align: center;
}
.trifold div + div {
  padding-left: 70px;
}
.trifold i {
  line-height: 100px;
  height: 120px;
  display: inline-block;
}
.trifold {
  color: #6d6f70;
}
.info p + p {
  padding-top: 15px;
}
.me {
  padding-top: 20px;
}
.me .about {
  float: left;
  width: 60%;
  padding-right: 40px;
  box-sizing: border-box;
}
.about-more {
  width: 40%;
  float: left;
}
.about-more p {
  /*color: #6d6f70*/
}
.icon:before {
  font-family: "linea-basic-10";
  font-size: 90px;
  display: block;
}
.protractor:before {
  content: "?";
}
.light-bulb:before {
  content: "7";
}
.star:before {
  font-family: "linea-basic-elaboration-10";
  content: "\e00d";
}

.contact,
.projects {
  margin: 0 auto;
  padding: 60px 40px 20px 40px;
  text-align: center;
  min-width: 900px;
  max-width: 1200px
}
.projects-container {
  display: inline-block;
  width: 100%;
  padding-top: 20px;
}
.contact h1,
.projects h1 {
  text-align: left;
  color: #fff;
  font-size: 16px;
  font-weight: 800;
  padding-bottom: 20px;
}
.projects figure {
  display: inline-block;
  height: 300px;
  overflow: hidden;
  border-radius: 2px;
  position: relative;
}
.projects figure + figure {
  margin-left: 2%;
  box-sizing: border-box;
}
.projects img {
  width: 100%;
}
.trello {
  width: 60%;
}
.myflix {
  width: 38%;
}
.yelp {
  width: 32%;
}
.todo {
  width: 32%;
}
.postit {
  width: 32%;
}


.overlay {
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure h3 {
  color: #fff;
  font-size: 42px;
  font-weight: 800;
  transition: opacity 0.2s;
  position: absolute;
  left: 50%;
}
figure > h3 {
  top: 50%;
  transform: translate(-50%, -50%);
}
figure:hover > h3 {
  opacity: 0;
  transition: opacity 0.2s;
}
figure:hover .overlay {
  display: none;
}
.details {
  position: absolute;
  opacity: 0;
  transition: all 0.2s ease-in;
  left: 0;
  right: 0;
  bottom: 0;
}
figure:hover .details {
  opacity: 1;
  transition: all 0.2s ease-in;
}
.details ul li {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.details ul:first-of-type {
  text-align: center;
  padding: 0 20px 10px 20px;
}
.details ul:first-of-type li {
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px
}
.details ul:first-of-type li + li {
  margin-left: 4px;
}
.details ul:first-of-type li {
  border-radius: 3px;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.6));
}

.details ul:last-of-type {
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6));
}
.details ul:last-of-type li {
  border: 2px solid #fff;
  font-weight: 800;
  padding: 5px;
  margin: 8px 8px;
  border-radius: 2px;
  float: left;
}
.details ul:last-of-type li:hover {
  color: #aaa;
  border-color: #aaa;
  transition: all 0.2s;
  cursor: pointer;
}
.details h3 {
  font-size: 28px;
  position: absolute;
  bottom: 0;
  left: auto;
  right: 0;
  padding: 0 12px 10px;
}

.contact ul {
  width: 100%;
  padding: 40px 0 50px;
}
.contact ul li {
  display: inline-block;
  box-sizing: border-box;
  width: 27%;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .75px;
}
.contact ul li:first-child {
  color: #6d6f70;
  text-align: left;
  width: 19%;
}
.contact a:hover {
  color: #6d6f70;
  cursor: pointer;
}

a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

main {
  margin: 0 auto;
  padding: 40px;
  width: 900px;
  color: #fff;
  letter-spacing: 0.75px;
  line-height: 1.5em;
}

main h3 {
  padding-bottom: 10px;
  font-weight: 800;
}

main p + h3,
main ul + h3,
main div + h3 {
  padding-top: 34px;
}

main ul li,
main p {
  color: #6d6f70;
}
main ul,
main p,
main h4 {
  margin-left: 20px;
}

main a {
  text-decoration: underline;
}

.project-example {
  padding-left: 20px;
}
.project-example:first-of-type {
  padding-bottom: 4px;
}
.project-example > a {
  color: #fff;
  float: left;
}
.project-example p {
  width: 95%;
  margin-left: 60px;
}
.project-example a:hover {
  cursor: pointer;
}
.project-example p a:hover {
  color: #fff;
}
main h4 {
  padding-bottom: 6px;
  letter-spacing: 0.5px;
}
main h4 i {
  color: #6d6f70;
  padding-left: 10px;
}
main h4 span {
  float: right;
}

main ul + h4 {
  padding-top: 10px;
}

main ul {
  list-style: square;
  margin-left: 55px;
}

main .num {
  float: right;
}
main .email {
  float: left;
}

.resume-contact {
  margin: 0;
}

.resume-contact li {
  margin: 0;
  display: inline-block;
  width: 48%;
  text-align: center;
}
.resume-contact li:first-child {
  text-align: left;
  width: 25%;
}
.resume-contact li:last-child {
  text-align: right;
  width: 25%;
}
.resume-contact li.separator {
  width: 1%;
}