body {
  font-family: 'Montserrat';
  min-width: 900px;
}

header {
  padding: 20px 30px 30px 30px;
  font-weight: 800;
}

.title {
  float: left;
}
.title h1 {
  font-size: 48px;
  padding-bottom: 8px;
  color: #333;
}
.title h1 span {
  color: #45c2bd;
}
.title h2 {
  font-size: 22px;
  font-weight: 400;
}

nav {
  float: right;
  font-size: 22px;
  padding: 4px 8px 0 0 ;
}
nav ul li {
  display: inline-block;
  padding: 0 10px 2px;
  color: #45c2bd;
}
nav li.selected {
  color: #333;
}
nav ul:hover li {
  color: #45c2bd;
}
nav ul li:hover {
  /*border-bottom: 2px solid #666;*/
  color: #333;
  cursor: pointer;
}

.info {
  background-color: #161616;
  color: #fff;
  padding: 40px;
  line-height: 1.5em;
}

.info h3 {
  font-size: 28px;
  font-weight: 800;
  padding: 0 0 10px;
  width: 800px;
  line-height: 1.3em;
}

.info h4 {
  padding: 15px 0;
  font-weight: 500;
}
.about-left,
.about-right {
  width: 50%;
  padding-top: 20px;
  box-sizing: border-box;
}
.about-left {
  float: left;
  padding-right: 15px;
}
.about-right {
  padding-left: 15px;
  float: right;
}

.projects {
  background-color: #262626;
  height: 400px;
  text-align: center
}
.projects h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 800;
  padding: 15px 8px 8px 8px;
  border-bottom: 2px solid #45c2bd;
  display: inline-block;
}





.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
